body{
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat';
}
.header{
	height: 10rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #F1F1F1;
	font-family: 'Montserrat', sans-serif;
}

.display-flex{
	display: flex;
	flex-direction: row;
}

.flex-center{
	align-items: center;
	justify-content: center;
}

.header-links-div a{
	text-decoration: none;
    color: black;
    margin: 0 1.2rem;
    font-weight: 700;
	font-size: 1rem;
	line-height: 32px;
}
.gradient-rectangle{
	background: linear-gradient(90deg, #DEFF88 1.51%, #9CFEFF 100%);
	border-radius: 32px;
	padding: 0.5rem;
}

.logo-div{
	margin-left: 2rem;
}

.logo-div .vertical-line{
	background: #2C2C2C;
	border: 0.12rem solid #2C2C2C;
	margin-right: 0.4rem;
}

.logo-div h2{
	font-style: normal;
	font-weight: 900;
	font-size: 2.2rem;
	line-height: 32px;
	margin: 0.1px;
	color: #2C2C2C;;
}

.right-pixel{
	background: #2C2C2C;
}


.right-pixel{
	height: 11rem;

}
.right-pixel h2{
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 2rem;
	line-height: 32px;
	text-align: center;
	margin:0px;
	padding: 1rem;
	color: #F1F1F1;
	
}

.design-activism-div{
	background: linear-gradient(95.47deg, #9CFEFF 4.94%, #DEFF88 94.42%);
	min-height: 15rem;
	color: #2C2C2C;
	font-family: 'Montserrat';
	padding-top: 2rem;
	padding-bottom: 3rem;
}


.design-activism-div span{
    font-style: normal;
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 40px;
}

.design-activism-div p{
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 40px;
}

.margolin-quote{
	background: #F1F1F1;
	font-family: 'Montserrat';
	padding: 1.2rem;
}

.margolin-quote .quote{
	font-weight: 400;
	font-size: 1.2rem;
	color: #2C2C2C;
}

.margolin-quote .name{
	font-weight: 600;
	font-size: 1.2rem;
	color: #2C2C2C;
	margin:0;
}

.main-div-sources{
	width: 60%;
}

.margolin-quote .title{
	font-style: italic;
	font-weight: 400;
	font-size: 1rem;
	color: #2C2C2C;
	margin:0;
}

.margolin-quote .line{
	border: 0.1rem solid #2C2C2C;
	width: 120px;
	margin-bottom: 1.2rem;
}

.main-page-intro{
	font-family: 'Montserrat';
	background: url(Assets/Landing_Page_Animation_V03.gif);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-size: cover;
    min-height: 85vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.we-research-div{
	display: grid;
	grid-template-columns: 50% 50%;
	margin-top: 2rem;
	font-weight: 500;
}
.main-page-intro h2{
	margin:0px;
	font-size: 3.6rem;
	font-weight: 500;

}

.main-page-intro h2 span{
	font-size: 3.6rem;
	font-weight: 700;
}

.main-page-intro h1{
	font-weight: 700;
	font-size: 5.9rem;
	margin: 1rem 0;
}

.main-page-intro h3{
	font-weight: 500;
	font-size: 1.5rem;
}

.basics-div-intro{
	background: linear-gradient(95.47deg, #9CFEFF 4.94%, #DEFF88 94.42%);
	font-family: 'Montserrat';
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 3rem 0;
}


.design-principles-div{
	background: linear-gradient(90.98deg, #DEFF88 6.33%, #9CFEFF 94.04%);
	margin: 0;
	padding: 3rem;
}

.design-principles-button{
	background: #2C2C2C;
	border-radius: 8px;
	color: #FFFFFF;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 1rem;
	width: 20rem;
	height: 3rem ;
	margin-bottom: 1.5rem;
	border: none;
	display: grid;
	grid-template-columns: 80% 1% 20%;
	grid-template-rows: 1;
	justify-items: center;
	align-items: center;
}

.design-principles-button p{
	margin: 0;
	text-align: left;
	width: 100%;
    margin-left: 2rem;
}
.plus-icon{
	margin-left: 4rem;
	display: flex;
}

.activists-type-button{
	display: grid;
	grid-template-columns: 80% 1% 20%;
	grid-template-rows: 1;
	justify-items: center;
	align-items: center;
}

.activists-type-button p{
	margin: 0;
	text-align: left;
	width: 100%;
    margin-left: 2rem;
}

.design-principles-grid{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.design-principles-flex{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 90%;
}

.activists-type-grid{
	display: flex;
	justify-content: space-between;
	
	/*grid-template-columns: 33% 33% 33%;
	display: grid;
	justify-items: center;
	*/
	padding-top: 2rem;

}

.activists-type-div{
	background: #2C2C2C;
	padding: 4rem;
}

.activists-type-button{
	background: #2C2C2C;
	border-radius: 8px;
	color: #2C2C2C;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 1rem;
	width: 20rem;
	height: 3rem ;
	margin-bottom: 1.5rem;
	border: none;
}

.meet-activists-div{
	background: url(Assets/Frame-faces.png);
	font-family: 'Montserrat';
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 3rem 0;

}

.case-studies-div{
	background-color:#2C2C2C;
	background: linear-gradient( rgb(37 30 30), rgb(24 24 24 / 88%) ), url(Assets/case_studies_bg.png);
	opacity: 0.9;
	font-family: 'Montserrat';
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 4rem 0;
}

.history-div{
	font-family: 'Montserrat';
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 3rem 0;
	background: #F1F1F1;

}

.join-div{
	background: linear-gradient(90.98deg, #DEFF88 6.33%, #9CFEFF 94.04%);
	font-family: 'Montserrat';
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 3rem 0;

}

.intro-div-title{
	font-weight: 700;
	font-size: 2rem;
	line-height: 32px;
	margin: 1.5rem 0 ;
	line-height: 2rem;
	text-decoration: none;
	color: #2C2C2C;

}

.intro-div-title-link{
	text-decoration: none;
}

.first-p{
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 1.3rem;
	margin: 0.5rem;
	text-align: center;
}

.second-p{
	font-weight: 400;
	font-size: 1.1rem;
	line-height: 1.3rem;
	margin: 0.5rem;
	text-align: center;
}

.black-button{
	background: #2C2C2C;
	border-radius: 8px;
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 1rem;
	line-height: 16px;
	color: #FFFFFF;
	padding: 0.8rem 4rem;
	margin: 1.5rem 0 ;
	border-style: none;
}

.white-button{
	background: #F1F1F1;
	border-radius: 8px;
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 1rem;
	line-height: 16px;
	color: #2C2C2C;
	padding: 0.8rem 4rem;
	margin: 1.5rem 0 ;
	border-style: none;

}

.activist-div-left{
	display: grid;
	grid-template-columns: 42% 55%;
	grid-gap: 3%;
	width: 90%;
	font-family: 'Montserrat';
}

.activist-div-right{
	display: grid;
	grid-template-columns: 55% 42% ;
	grid-gap: 3%;
	width: 90%;
	font-family: 'Montserrat';
}

.lucas-intro{
	background: linear-gradient(101.96deg, #FFD38C 4.85%, #A18CE8 93.54%);
	padding: 5rem 0;
}
.john-intro{
	background: linear-gradient(101.96deg, #A18CE8 4.85%, #FF96A3 93.54%);
	padding: 5rem 0;

}

.marc-intro{
	background: linear-gradient(101.96deg, #FFD38C 4.85%, #FF96A3 93.54%);
	padding: 5rem 0;
}

.bea-intro{
	background: linear-gradient(101.96deg, #FF96A3 4.85%, #FFD38C 93.54%);
	padding: 5rem 0;

}

.bea-picture{
	background: url(Assets/bea_shot.jpeg);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    width: 100%;
}

.marc-picture{
	background: url(Assets/MarcOBrien_shot.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    width: 100%;
}

.kasia-picture{
	background: url(Assets/kasia_shot.png);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 37rem;
    width: 100%;

}

.jhon-picture{
	background: url(Assets/john_shot.png);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    width: 100%;

}

.lucas-picture{
	background: url(Assets/lucas_headshot.png);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    width: 100%;
}

.queering-picture{
	background: url(Assets/queeringthemap.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    width: 100%;
}

.violet-picture{
	background: url(Assets/violet-protest.png);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    width: 100%;

}
.designing-motherhood-picture{
	background: url(Assets/designing_motherhood.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    width: 100%;
}

.where-black-designers-picture{
	background: url(Assets/where-are-black-designers.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    width: 100%;
}

.call-response-picture{
	background: url(Assets/call_response.png);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    width: 100%;
}

.design-happy-world-picture{
	background: url(Assets/design_for_happy_world.png);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    width: 100%;

}

.demotech-picture{
	background: url(Assets/demotech-logo.png);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    width: 100%;
}

.adapt-picture{
	background: url(Assets/adapt.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    width: 100%;
}

.landscaping-picture{
	background: url(Assets/landscaping.png);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    width: 100%;

}



.activist-intro-text h3{
	font-weight: 700;
	font-size: 36px;
	line-height: 32px;
	margin: 0;
}


.activist-intro-text p {
	font-style: normal;
	font-weight: 400;
	font-size: 1.1rem;
	line-height: 24px;

}

.activist-tittle{
	font-style: italic !important;
	margin-top: 10px;
	
}

.instagram-icon{
	background-color: #2C2C2C;
	width: 2.9rem;
	height: 2.5rem;
	border-radius: 8px;
	border-color: #2C2C2C;
	margin-left: 1rem;

}
.activist-button{
	font-family: 'Montserrat';
	background-color: #2C2C2C;
	height: 2.5rem;
	padding: 0 4rem;
	border-radius: 8px;
	font-weight: 600;
	font-size: 1rem;
	line-height: 16px;
	border-color: #2C2C2C;
}

.activist-buttons-div{
	margin-top: 2rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}


.history-main-div{
	 width: 80%; 
	 display: flex; 
	 flex-direction: column;
}

.case-study-right{
	display: grid;
	grid-template-columns: 42% 55%;
	grid-gap: 3%;
	width: 90%;
	font-family: 'Montserrat';
	padding: 4rem 0;
}

.case-study-left{
	display: grid;
	grid-template-columns: 54% 42%;
	grid-gap: 4%;
	width: 90%;
	font-family: 'Montserrat';
	padding: 4rem 0;

}

.case-study-right h3{
	margin:0 ;
	font-weight: 700;
	font-size: 1.7rem;
}

.case-study-left h3{
	margin:0 ;
	font-weight: 700;
	font-size: 1.7rem;
	color: #2C2C2C;
}


.case-study-right p{
	font-family: 'Montserrat';
	font-weight: 400;
	color: #FFFFFF;
	font-size: 1.1rem;
	line-height: 24px;
}

.case-study-left p{
	font-family: 'Montserrat';
	font-weight: 400;
	color: #2C2C2C;
	font-size: 1.1rem;
	line-height: 24px;
}

.case-study-purple-button {
	background: #A18CE8;
	border-radius: 8px;
	height: 2.2rem;
	width: 11rem;
	font-size: 1rem;
	border-style: none;
	font-weight: 500;
}

.case-study-button-new{
	background: #A18CE8;
	border-radius: 8px;
	height: 2.25rem;
	width: 13rem;
	border-style: none;
	color: black;
	font-family: 'Montserrat';
	border: none;
	display: grid;
	grid-template-columns: 74% 1% 25%;
	grid-template-rows: 1;
	justify-items: center;
	align-items: center;
}

.case-study-button-new p{
	font-size: 0.95rem;
	font-weight: 500;
}

.case-study-pink-button {
	background: #FF96A3;
	border-radius: 8px;
	height: 2rem;
	width: 11rem;
	font-size: 0.95rem;
	border-style: none;
}
.history-grid{
	display: grid;
	grid-template-columns: 32% 36% 32%;
	width: 100%;
	margin-top: 3rem;

}

.special-buttons-div{
	display: grid;
	justify-content: flex-start;
}


.special-buttons-div-container{
	display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 1rem;

}

.history-year-title{
	font-style: normal;
	font-weight: 700;
	font-size: 4rem;
	text-transform: uppercase;
	color: #2C2C2C;
	margin-bottom: 1rem;
	margin-top: 0rem;
}

.history-paragraph{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}

.papaneka-picture{
	background: url(Assets/papaneka_book.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: 80%;
}

.book-1997-picture{
	background: url(Assets/1997_book.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: 80%;
}

.massive-change-picture{
	background: url(Assets/massive_change.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: 100%;
    margin-left: 1rem;
}

.design-for-other-picture{
	background: url(Assets/design_with_cities.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: 80%;
}

.pluriverse-picture{
	background: url(Assets/pluriverse.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: 80%;
}

.design-future-picture{
	background: url(Assets/design-justice-interview.png);
	background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: 80%;
}

.social-design-reader-picture{
	background: url(Assets/social_design_reader.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: 80%;
}

.join-the-hub-background{
	background: linear-gradient(120.24deg, #DEFF88 6.57%, #9CFEFF 93.52%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.team-members-grid{
	display: grid;
	grid-template-columns: 49% 49%;
	grid-gap: 2%;
	margin-bottom: 3rem;
}
.resources-background{
	background: linear-gradient(120.24deg, #DEFF88 6.23%, #9CFEFF 93.17%);
}

.pop-up{
	background: #A18CE8;
	border-radius: 8px;
	width: 100%;
	padding: 1rem 2rem 2rem 2rem;
	height: 9rem;
}

.close-icon{
	width: 100%;
	display: flex;
	justify-content: flex-end;ß
}

.close-icon img{
	height: 35px;
	margin: 0;
}
.pop-up-div{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
}

.pop-up-div h3{
	margin-top: 0.5rem;
}

.hidden{
	display: none;
}

.display{
	display: inline !important;
}

.display-block{
	display: block; ;
}

.case-studies-pop-up{
	background: #A18CE8;
	border-radius: 8px;
	padding: 1rem 1rem 3rem 2rem;
	width: 95%;
}

.case-studies-pop-up p {
	color: black;
	font-weight: 400;
	font-size: 1rem;
	margin: 0;
	margin-bottom: 0.8rem;
	width: 100%;
}


.case-studies-pop-up-grid{
	display: grid;
	grid-template-rows: 33% 33% 33%;
	grid-template-columns: 45% 45%;
	grid-row-gap: 10%;
	
}

.case-studies-pop-up-grid div{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 1rem;
	display: flex;

}

.pop-up-x{
	border: 2px solid black;
	border-radius: 4px;
	width: 1.8rem;
	height: 1.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem !important;
	margin-right: 0.5rem;
}

.case-studies-pop-up-close-icon-div{
	display: grid;
	grid-template-columns: 85% 15%;

}

.mafer-picture{
	background: url(Assets/Mafer_Headshot.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    width: 22rem;
    height: 22rem;
}

.megan-picture{
	background: url(Assets/mtravers.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    width: 22rem;
    height: 22rem;
}

.sam-picture{
	background: url(Assets/sam_headshot.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    width: 22rem;
    height: 22rem;
}


.margolin-quote-div{
	width: 45%; 
	flex-direction: column; 
	justify-content: center; 
	align-items: center;
}
.menu-icon{
	display: none;
}

.first-div-join-hub{
	width:55%; 
	margin-top: 3rem; 
	line-height: 31px;
}

.second-div-join-hub{
	width: 55%;

}

.form-container{
	background: #2C2C2C;
	width: 45%;
	justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 8px;
}

.form-sub-container{
	width: 90%;

}

.form-title{
	font-family: 'Montserrat';
	font-style: normal;

	color: #DEFF88;

}

.form-names-grid{
	display: grid;
   	grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
    margin-bottom: 2rem;
}

.button-form{
	background: #DEFF88;
	border-radius: 8px;
	color: #2C2C2C;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	width: 7rem;
    height: 2rem;
}

.submit-button-div{
	display: flex;
	justify-content: flex-end;
}

.mc-field-group{
	color: #FFFFFF;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
}

.mc-field-group input{
	background: #F1F1F1;
	border-radius: 8px;
	height: 1.4rem;
    border: white;
    width: 100%;
    margin-top: 0.4rem;
}

.message-div{
	font-family: 'Montserrat';
	font-style: normal;
	border-radius: 8px;

}

.team-width{
	width: 40%;
}
.email-div{
	display: grid;
	margin-bottom: 2rem;
}

.message-div{
	height: 6rem !important;
	margin-bottom: 2rem;
}

.want-to-volunter-div{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.want-to-volunter-div p {
	width: 45%;
}

.want-to-volunter-div div {
	width: 45%;

}

.message-div-form{
	display: grid;
}

.meet-team-title{
	margin-top: 5rem;
}

.div-60{
	width: 50%;
	text-align: center;
	margin-bottom: 3rem;
}


.join-button{
	background: #2C2C2C;
	border-radius: 8px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	color: #F1F1F1;
	height: 2.5rem;
    width: 7.5rem;
}

.indicates-required{
	color: white;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
}

.second-div-join-hub {
    line-height: 31px;
}

.menu-phone{
	display: flex;
    flex-direction: column;
    font-weight: 700;
	font-size: 1rem;
	line-height: 32px;
	display: none ;
}

.menu-phone a{
	text-decoration: none;
    color: black;
    padding-left: 2rem;
    background-color: #F1F1F1;
    border-bottom: 1px solid grey;

}

.display-menu{
	display: flex;
}

.case-studies-sub-container-mobile{
	display:flex; 
	justify-content: space-between; 
	color: #FFFFFF;"
}

.mafer-picture-div{
	width: 100%;
	height: 20rem;
	display: flex;
	justify-content: flex-end;"
}

.megan-picture-div{
	 width: 100%;
	 height: 20rem;
	 display: flex; 
	 justify-content: flex-start;
}

.sam-picture-div{
	width: 100%;
	height: 20rem;
	display: flex;
	justify-content: flex-end;
}

.w-80-mobile{
	text-align: end;
	width: 50%;
}
@media only screen and (max-device-width: 600px) {

	
	.case-studies-sub-container-mobile{
		display: grid !important;
	}

	.case-studies-sub-container-mobile h3{
		margin-bottom: 2rem;
	}
	.pop-up{
		height: 100%;
	}
	.meet-activists-div{
		background: linear-gradient(95.47deg, rgba(255, 211, 140, 0.6) 4.94%, rgba(255, 150, 163, 0.6) 50.15%, rgba(161, 140, 232, 0.6) 94.42%);
	}
	.menu-icon{
		display: inline;
		margin-right: 2rem;
	}
	.header-links-div{
		display: none;
	}

	.main-page-intro h2{
		font-size: 1.7rem;
	}

	.main-page-intro h2 span{
		font-size: 2rem;
	}

	.main-page-intro h1{
		font-size: 3rem;
	}

	.main-page-intro h3{
		font-size: 1.5rem;
	    margin-top: 6rem;
	    text-align: right;
	}

	.intro-div-title {
		font-size: 1.5rem;
		text-align: center;
	}

	.first-p{
		font-size: 1.2rem;
	}

	.second-p{
		font-size: 1rem;
	}
	
	.design-activism-div div{
		width: 85% !important;
	}

	.design-activism-div span{
		font-size: 1.8rem;
	}
	.design-activism-div p{
		font-size: 1.3rem;
	}

	.right-pixel h2{
		font-size: 1.3rem;
		margin: 1rem;
	}

	.margolin-quote-div{
		width: 90%;
	}

	.design-principles-flex{
		display: flex;
	    flex-direction: column;
	    width: auto;
	}

	.activists-type-grid{
		display: flex;
	    flex-direction: column;
	    width: auto !important;
	}

	.activist-div-left{
		display: grid;
	    grid-template-columns: none;
	    grid-gap: 3%;
	    width: 90%;

	}

	.activist-div-right {
	    display: flex;
	    flex-direction: column-reverse;
	    width: 90%;
	   
	}

	.activist-div-right .activist-intro-text{
		margin-top: 2rem;

	}

	.case-study-right{
		grid-template-columns:none;
	}

	.landscaping-picture{
		height: 30rem;
   	 	width: 20rem;
	}

	.case-study-left{
		display: flex;
    	flex-direction: column-reverse;
	}

	.extra-margin-case-study{
		margin-top: 2rem;
	}

	.mobile-landscape{
		display: block !important;
	}

	.where-black-designers-picture{
		height: 15rem;
    	width: 90%;
	}

	.mobile-black-designers{
		width: 90%;
	}

	.landscaping-picture-mobile{
		width: 90%;
	}

	.case-studies-pop-up-grid{
		grid-template-columns:  50% 50%;
	}

	.case-studies-pop-up p{
		font-size: 0.8rem;

	}

	.case-studies-pop-up{
		padding: 0.5rem 0.5rem 1.5rem 1rem;
		grid-row-gap: 0rem;
		width: 100%;

	}
	.div-case-studies-mobile{
		width: 90%;
	}

	.extra-margin-case-study{
		width: 90%;

	}

	.history-main-div{
		width: 95%;
	}
	.history-main-div span{
		display: none;
	}

	.history-grid{
	grid-template-columns: 40% 60%;
	}

	.left{
		grid-template-columns: 60% 40%;

	}

	.massive-change-picture{
		margin: 0;
	}

	.history-paragraph{
		font-size: 15px;
	}

	.main-div-sources{
		width: 90%;
	}

	.main-div-sources p {
		overflow: scroll;
	}

	.second-div-join-hub{
		width: 90%;
		line-height: 31px;
	}

	.second-div-join-hub h1{
		margin-top: 1rem !important;
	}

	.first-div-join-hub{
		width: 90%;
	}

	.form-container{
    	width: 80%;
	}

	.want-to-volunter-div p{
		width: 60%;
	}

	.team-width{
		width: 80%;
	}

	.mafer-grid{
		flex-direction: column;
    	display: flex;
    	justify-content: center;
    	align-items: center;
	}

	.mafer-picture-div{
		width: 90%;
	}

	.megan-grid{
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
    	align-items: center;
	}
	.megan-picture-div{
		justify-content: center;
		margin-bottom: 1rem;
	}

	.w-80-mobile{
		width: 80%;
		text-align: inherit;
	}

	.meet-team-title{
		text-align: center;
	}

	.sam-grid{
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	}

	.sam-picture-div{
		width: 90%;
	}

	.form-sub-container{
		width: 90%;
    	margin-left: 1rem;
	}

	.form-names-grid{
		grid-template-columns: 100%;
		grid-column-gap: 2rem;
		grid-row-gap: 10%;

	}
    }